@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --nav-color: #212335;
}

a {
  text-decoration: none;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}
/* Nav */
.main-nav {
  background-color: var(--nav-color);
  position: sticky;
}

.main-nav .nav-lst {
  width: 35%;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav .nav-lst .nav-item {
  color: #fafafa;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
}
.main-nav .nav-lst .nav-item:hover {
  cursor: pointer;
  background-color: #6a73d1;
}
.main-nav .nav-lst .nav-item.selected {
  background-color: #4d539c;
}
.main-nav .nav-lst .nav-item.selected:hover {
  cursor: default;
}
/* Content */
.content {
  background-color: #fafafa;
  flex-grow: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
/* Project List */
.project-lst {
  margin: 1em 2em;
  min-height: 0;
  flex-grow: 1;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.project-item {
  background-color: #fafafa;
  height: 9em;
  margin: 1em 2em 1em 1em;
  border: 1px solid var(--nav-color);
  border-radius: 10px;
  display: flex;
  transition: transform 0.1s ease-in, filter 0.1s ease-in;
}

.project-item:hover {
  transform: translateX(5px);
  filter: drop-shadow(-5px 5px 3px #6a73d1);
  border-color:#6a73d1;
}
.project-item:hover .project-title,
.project-item:hover .project-description {
  color: #6a73d1;
}
.project-item .left {
  /* border: 1px solid green; */
  display: flex;
}
.project-item .project-thumbnail {
  border-radius: 10px 0 0 10px;
  width: 15em;
}
.project-item:hover .project-thumbnail {
  opacity: 0.9;
}
.project-item .right {
  /* border: 1px solid green; */
  flex-grow: 1;
  padding-left: 1em;
}

/* Footer */
.footer {
  height: 4em;
  background-color: var(--nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.footer a {
  color: white;
}
.footer
.logos-wrapper {
  width: 10%;
  display: flex;
  margin: 1em 0;
  gap: 1em;
  justify-content: space-between;
}
.footer
.logos-wrapper img {
  width: 2em;
}
.footer
.logos-wrapper img:hover {
  opacity: 0.8;
}


/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
